USE [master]
/*GO*/
/****** Object:  Database [Pubs]    Script Date: 20/12/2015 16:56:53 ******/
/*CREATE DATABASE [Pubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pubs', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Pubs.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pubs_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Pubs_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pubs]
GO*/
/****** Object:  User [Pesho]    Script Date: 20/12/2015 16:56:53 ******/
/*CREATE USER [Pesho] FOR LOGIN [Pesho] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Pesho]
GO*/
/****** Object:  Table [dbo].[Student]    Script Date: 20/12/2015 16:56:53 ******/
/*SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [numeric](18, 0) NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO*/
USE Pubs;
GO
INSERT [dbo].[Student] ([ID], [Name], [Age]) VALUES (1, N'Ivo', 16)
INSERT [dbo].[Student] ([ID], [Name], [Age]) VALUES (2, N'Samuil', 25)
INSERT [dbo].[Student] ([ID], [Name], [Age]) VALUES (3, N'Pesho', 56)
USE [master]
GO
